/* Global Settings */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
}
.col-6{
    width: 50%;
}
/* Header section start */
header{
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0px 3px 10px 0px #efefef;
    padding: 30px 0px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 70px;
}
.color-pink{
    color: #FF42A5;
}
.logo p{
    font-size: 40px;
    margin-left: 20px;
    font-weight: 700;
}
.header-left{
    width: 50%;
}
.header-right{
    width: 50%;
    margin-left: auto;
}
.header-right .row{
    justify-content: right;
}
.header-right ul li a{
    color: black;
    transition: .4s;
}
.header-right ul li a:hover{
    color: #FF42A5;
}
.header-right li{
    margin-left: 20px;
}
.header-btn{
    background-color: #E7E6E9;
    padding: 12px 25px;
    border-radius: 5px;
}
.header-btn p{
    margin-right: 5px;
    font-size: 15px;
}
.header-btn img{
    width: 20px;
    margin-left: 10px;
}
/* Header section end */
/* banner section start */
.banner-left h3{
    font-size: 40px;
    text-transform: uppercase;
}
.color-gradient{
    font-size: 72px;
    background: -webkit-linear-gradient(#DA4CC4, #A654E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.dot{
    width: 15px;
    height: 15px;
    background: -webkit-linear-gradient(#DA4CC4, #A654E0);
    display: inline-block;
    border-radius: 50%;
    margin: 0px 10px;
}
.banner-left ul{
    margin-top: 30px;
}
.banner-left ul li{
    display: block;
    margin-bottom: 15px;
}
.banner-left ul li i{
    margin-right: 10px;
    color: #DA4CC4;
}
.btn-section{
    margin-top: 30px;
}
.btn{
    background-color: #FF42A5;
    padding: 15px 35px;
    margin-right: 20px;
    border-radius: 40px;
    color: white;
    font-weight: bold;
}
.bg-sky{
    background-color: #4EC5F7;
}
.banner-right img{
    width: 100%;
}
.banner{
    background-image: url("../images/section-bg.png");
    background-repeat: no-repeat;
    background-position: left center;
}
/* banner section end */
/* gamer section start */
.gamer{
    background: #FFF9FC;
    padding: 50px 0px;
}
.gamer-left{
    width: 60%;
}
.gamer-right{
    width: 40%;
    text-align: right;
}
.gamer-left img{
    width: 100%;
}
.gamer-right h3{
    font-size: 40px!important;
    background: -webkit-linear-gradient(#de60cb, #A654E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin-bottom: 30px;
}
.gamer-right p{
    line-height: 1.8;
    color: #404040;
    font-size: 14px;
    margin-left: 100px;
}
.gamer-btn{
    display: inline-block;
    margin: 20px 0px;
}
.gamer-right h4{
    font-size: 22px;
    font-weight: normal;
}
.gamer-right q{
    font-size: 26px;
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
}
/* gamer section end */
/* videos section start */
.videos{
    padding: 80px 0px;
}
.videos-header{
    text-align: center;
}
.videos-header h3{
    font-size: 40px!important;
}
.color-gra{
    background: -webkit-linear-gradient(#de60cb, #A654E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.videos-header p{
    font-size: 14px;
    margin: 20px 0px;
}
.videos-card{
    margin-top: 40px;
}
.video-card {
    width: 25%;
    margin: 0px 10px;
}
.video-card p{
    line-height: 1.7;
}
.bg-1{
    background-image: url("../images/video-1.png");
}
.bg-2{
    background-image: url("../images/video-2.png");
}
.bg-3{
    background-image: url("../images/video-3.png");
}
.bg-4{
    background-image: url("../images/video-4.png");
}

.video{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 320px;
    transition: .4s;
    position: relative;
    transition: .4s;
}
.overlay{
    width: 100%;
    height: 320px;
    background-color: #000000;
    opacity: 0.5;
    border-radius: 20px;
}
.play{
    position: absolute;
    top: 40%;
    left: 40%;
    text-align: center;
    color: white;
}
.play i{
    font-size: 40px;
    margin-bottom: 10px;
}
.play p{
    color: #ea26cd;
    font-weight: bold;
}

.play, .overlay{
    display: none;
}
.video:hover .play{
    display: block;
}
.video:hover .overlay{
    display: block;
}
/* videos section end */
/* angela section start */
.angela{
    padding: 40px 0px 100px 0px;
}
.angela-left{
    text-align: right;
    padding-right: 200px; 
}
.angela-left h3:first-child{
    background: -webkit-linear-gradient(#de60cb, #A654E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.angela-left h3{
    font-size: 40px;
}
.angela-left p{
    margin-top: 30px;
    margin-left: 100px;
    line-height: 1.7;
}
.angela-right{
    position: relative;
}
.rider-img{
    width: 500px;
}
.angela-img{
    position: absolute;
    left: -10px;
    margin-left: -100px;
    margin-bottom: -50px;
    bottom: 0;
    z-index: 1;
    width: 250px;
}
/* angela section end */
/* career section start */
.career{
    background: #FF42A5;
}
.career-left{
    width: 50%;
}
.career-right{
    width: 50%;
}
.career-left{
    color: white;
}
.career-left h2{
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
}
.career-left p{
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 20px;
}
.double-section li{
    display: block;
    font-weight: bold;
}
.double-section{
    line-height: 2.5;
    margin-bottom: 40px;
}
.double-section{
    justify-content: space-between;
}
.bg-white{
    background-color: white;
    color: #FF42A5;
}
.career-right img{
    height: 700px;
}
/* career section end */
/* round section start */
.round-section{
    padding: 80px 0px;
    background-color: #FFF9FC;
}
.justify-center{
    justify-content: center;
    margin-bottom: 30px;
}
.round-box{
    margin: 0px 10px;
    background-color: white;
    padding: 10px 15px;
    border-radius: 50px;
    transition: .4s;
    border: 2px solid transparent;
}
.round-box:hover{
    border: 2px solid #ea26cd;
    color: #ea26cd;
}
.round-box img{
    margin-right: 10px;
    width: 50px;
}
/* round section end */
/* footer section start */
footer{
    padding: 80px 0px;
    background-color: #0B0223;
    text-align: center;
    color: white;
}
.footer-logo .logo{
    justify-content: center;
}
.footer-menu .row{
    justify-content: center;
}
.footer-menu .row a{
    color: white;
    margin: 30px 20px;
}
.footer-icons a{
    color: white;
    margin: 0px 20px 60px 20px;
    display: inline-block;
    font-size: 30px;
}
.footer-bottom-menu .row{
    justify-content: center;
}
.footer-bottom-menu .row a{
    color: #aeaeae;
    font-size: 14px;
    display: inline-block;
    margin: 0px 30px;
}
.copyright p{
    color: #aeaeae;
    font-size: 13px;
    margin-top: 20px;
}
/* footer section end */

/* start responsive */
@media (max-width: 768px) {
    /* header start */
    header .row{
        display: block;
    }
    .logo{
        display: flex;
        justify-content: center;
        margin: 30px 0px;
    }
    .col-12{
        width: 100%!important;
    }
    .header-right .row{
        display: block;
    }
    .header-right ul li{
        display: block;
        text-align: center;
    }
    .header-right a{
        margin-bottom: 30px;
        display: inline-block;
    }
    .header-btn{
        width: 150px;
        display: flex;
        margin: auto;
        justify-content: center;
    }
    header{
        box-shadow: inherit!important;
    }
    /* header end */
    /* banner start */
    .banner{
        background-color: white;
        margin: 50px 30px;
    }
    .banner .row {
        width: 100%;
        flex-direction: column-reverse;
    }
    .banner-right img{
        width: 80%;
    }
    .banner-right{
        text-align: center;
        margin-bottom: 30px;
    }
    .banner-left{
        padding: 50px;
    }
    .banner-left h3{
        font-size: 25px;
    }
    .banner-left .color-gradient{
        font-size: 40px;
    }
    .dot{
        width: 10px;
        height: 10px;
    }
    .banner-left ul li{
        font-size: 12px;
    }
    .btn-section{
        display: flex;
        flex: 1;
    }
    .banner .btn-section .btn{
        padding: 8px 15px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .banner-right img{
        padding-top: 50px;
    }
    /* banner end */
    /* gamer start */
    .gamer{
        padding: 50px 30px;
    }
    .gamer .row{
        flex-direction: column;
    }
    .gamer-left img{
        width: 100%;
    }
    .gamer-right{
        text-align: center;
    }
    .gamer-right p {
        margin:0px;
    }
    /* gamer end */
    /* videos start */
    .videos{
        padding: 50px 30px;
    }
    .videos-header h3{
        font-size: 30px!important;
    }
    .videos-header p{
        font-size: 14px;
    }
    .videos-card .row{
        flex-direction: column;
    }
    .video-card {
        width: 100%;
        margin: 0px 10px;
        margin-bottom: 30px;
        text-align: center;
    }
    /* videos end */
    /* angela start */
    .angela{
        padding: 0px 30px 30px 30px;
        margin-bottom: 80px;
    }
    .angela .row{
        flex-direction: column;
    }
    .angela-left {
        padding-right:0px;
        text-align: center;
    }
    .angela-left p {
        margin: 30px;
    }
    .rider-img {
        width: 80%;
        float: right;

    }
    .angela-img {
        z-index: 1;
        width: 150px;
        margin-left: 0px;
    }
    /* angela end */
    /* career start */
    .career{
        padding: 80px 30px;
    }
    .career .row{
        flex-direction: column;
    }
    .career-left, .career-right{
        width: 100%;
    }
    .double-section{
        flex-direction: row!important;
    }
    .double-section ul li{
        font-size: 12px!important;
    }
    .mb-50{
        display: inline-block;
        margin-bottom: 30px;
    }
    .career-right img{
        width: 100%;
        height: auto;
    }
    /* career end */
    /* round start */
    .round-section .row{
        flex-direction: column;
    }
    .round-section .round-box{
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    /* round nd */



}

/* end responsive */