/* Global Settings */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
}
.col-6{
    width: 50%;
}
/* Header section start */
header{
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0px 3px 10px 0px #efefef;
    padding: 30px 0px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 70px;
}
.color-pink{
    color: #FF42A5;
}
.logo p{
    font-size: 40px;
    margin-left: 20px;
    font-weight: 700;
}
.header-left{
    width: 50%;
}
.header-right{
    width: 50%;
    margin-left: auto;
}
.header-right .row{
    justify-content: right;
}
.header-right ul li a{
    color: black;
    transition: .4s;
}
.header-right ul li a:hover{
    color: #FF42A5;
}
.header-right li{
    margin-left: 20px;
}
.header-btn{
    background-color: #E7E6E9;
    padding: 12px 25px;
    border-radius: 5px;
}
.header-btn p{
    margin-right: 5px;
    font-size: 15px;
}
.header-btn img{
    width: 20px;
    margin-left: 10px;
}
/* Header section end */
/* banner section start */
.banner-left h3{
    font-size: 40px;
    text-transform: uppercase;
}
.color-gradient{
    font-size: 72px;
    background: -webkit-linear-gradient(#DA4CC4, #A654E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.dot{
    width: 15px;
    height: 15px;
    background: -webkit-linear-gradient(#DA4CC4, #A654E0);
    display: inline-block;
    border-radius: 50%;
    margin: 0px 10px;
}
.banner-left ul{
    margin-top: 30px;
}
.banner-left ul li{
    display: block;
    margin-bottom: 15px;
}
.banner-left ul li i{
    margin-right: 10px;
    color: #DA4CC4;
}
.btn-section{
    margin-top: 30px;
}
.btn{
    background-color: #FF42A5;
    padding: 15px 35px;
    margin-right: 20px;
    border-radius: 40px;
    color: white;
    font-weight: bold;
}
.bg-sky{
    background-color: #4EC5F7;
}
.banner-right img{
    width: 100%;
}
.banner{
    background-image: url("../images/section-bg.png");
    background-repeat: no-repeat;
    background-position: left center;
}
/* banner section end */
/* gamer section start */
.gamer{
    background: #FFF9FC;
    padding: 50px 0px;
}
.gamer-left{
    width: 60%;
}
.gamer-right{
    width: 40%;
    text-align: right;
}
.gamer-left img{
    width: 100%;
}
.gamer-right h3{
    font-size: 40px!important;
    background: -webkit-linear-gradient(#de60cb, #A654E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin-bottom: 30px;
}
.gamer-right p{
    line-height: 1.8;
    color: #404040;
    font-size: 14px;
    margin-left: 100px;
}
.gamer-btn{
    display: inline-block;
    margin: 20px 0px;
}
.gamer-right h4{
    font-size: 22px;
    font-weight: normal;
}
.gamer-right q{
    font-size: 26px;
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
}
/* gamer section end */
/* videos section start */
.videos{
    padding: 80px 0px;
}
.videos-header{
    text-align: center;
}
.videos-header h3{
    font-size: 40px!important;
}
.color-gra{
    background: -webkit-linear-gradient(#de60cb, #A654E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.videos-header p{
    font-size: 14px;
    margin: 20px 0px;
}
.videos-card{
    margin-top: 40px;
}
.video-card {
    width: 25%;
    margin: 0px 10px;
}
.video-card p{
    line-height: 1.7;
}
.bg-1{
    background-image: url("../images/video-1.png");
}
.bg-2{
    background-image: url("../images/video-2.png");
}
.bg-3{
    background-image: url("../images/video-3.png");
}
.bg-4{
    background-image: url("../images/video-4.png");
}

.video{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 320px;
    transition: .4s;
    position: relative;
    transition: .4s;
}
.overlay{
    width: 100%;
    height: 320px;
    background-color: #000000;
    opacity: 0.5;
    border-radius: 20px;
}
.play{
    position: absolute;
    top: 40%;
    left: 40%;
    text-align: center;
    color: white;
}
.play i{
    font-size: 40px;
    margin-bottom: 10px;
}
.play p{
    color: #ea26cd;
    font-weight: bold;
}

.play, .overlay{
    display: none;
}
.video:hover .play{
    display: block;
}
.video:hover .overlay{
    display: block;
}
/* videos section end */